<%= link_to "Edit", edit_note_path(@note), id: "edit-note-#{@note.id}" %>
<%= link_to "Delete", note_path(@note), method: :delete, id: "delete-note-#{@note.id}", data: { confirm: "Are you sure you want to delete this note?" } %>

<%= @note.title %>
<%= markdown_to_html @note.body %>

<h3>Screenshots</h3>
<div>
  <% @note.screenshots.each do |shot| %>
    <%= link_to(image_tag(shot.variant(resize: "200x200").processed.service_url), shot, target: :blank) %>
  <% end %>
</div>