<section class="header">
  <h1 class="header__heading">Hi, I'm Mark Merritt.</h1>
  <div class="header__avatar-box">
    <%= image_tag("header/avatar.png", alt: "Mark Merritt photo", class: "header__avatar") %>
  </div>
  <h3 class="header__subheading">A Ruby on Rails Developer.</h3>
  <p class="header__social-text">Find me on</p>
  <div class="header__social-links">
    <a href="https://stackoverflow.com/users/4988918/mark-merritt" class="header__social-link" target="_blank">
      <%= image_tag "social/so-icon.png", alt: "Stackoverflow logo", class: "header__social-icon" %>
    </a>
    <a href="https://github.com/marksmerritt" class="header__social-link" target="_blank">
      <%= image_tag "social/gh-logo.png", alt: "Github logo", class: "header__social-icon" %>
    </a>
    <a href="https://www.linkedin.com/in/marksmerritt/" class="header__social-link" target="_blank">
      <%= image_tag "social/linkedin-logo.png", alt: "Linkedin logo", class: "header__social-icon" %>
    </a>
  </div>
  <%= image_tag("header-graphic.png", alt: "Web Development Design", class: "header__design") %>
</section>