<section class="projects" id="projects">
  <h2 class="projects__heading">Recent Work</h2>
  <div class="card-deck card-deck--projects">
  
    <!-------------------- PatriotSwap -------------------->

    <div class="card card--project patriotswap__card">
      <div class="project__header">
        <%= image_tag "projects/ps-logo.png", class: "project__logo" %>
        <h3 class="project__title patriotswap__title">PatriotSwap</h3>
      </div>
      <div class="project__links">
        <%= link_to "Live Site", "#", class: "project__live-link" %>
        <%= link_to "GitHub Repo", "#", class: "project__github-link" %>
      </div>
      <div class="project__features">
        <%= link_to "Details", "#", class: "project__features-link" %>
      </div>
    </div>

    <!-------------------- United Building Group -------------------->

    <div class="card card--project ubg__card">
      <div class="project__header">
        <%= image_tag "projects/ubg-logo.jpg", class: "project__logo" %>
        <h3 class="project__title ubg__title">UBG Forms</h3>
      </div>
      <div class="project__links">
        <%= link_to "Live Site", "#" %>
        <%= link_to "GitHub Repo", "#" %>
      </div>
      <div class="project__features">
        <%= link_to "Details", "#", class: "project__features-link" %>
      </div>
    </div>

    <!-------------------- FairfaxEats -------------------->

    <div class="card card--project fe__card">
      <div class="project__header">
        <%= image_tag "projects/fairfax-eats.png", class: "project__logo" %>
        <h3 class="project__title fe__title">FairfaxEats</h3>
      </div>
      <div class="project__links">
        <%= link_to "Live Site", "#" %>
        <%= link_to "GitHub Repo", "#" %>
      </div>
      <div class="project__features">
        <%= link_to "Details", "#", class: "project__features-link" %>
      </div>
    </div>

  </div>
  <button class="btn btn--projects">
     See More on Github
  </button>
</section>