<section class="projects">
  <h2 class="projects__heading">Recent Projects</h2>
  <div class="card-deck card-deck--projects">
  
    <!-------------------- United Building Group -------------------->

    <div class="card card--project ubg__card" id="projects">
      <div class="project__header">
        <%= image_tag "projects/ubg-logo.jpg", class: "project__logo" %>
        <h3 class="project__title ubg__title">UBG Forms</h3>
      </div>
      <div class="project__links">
        <%= link_to "Live Site", "https://www.ubgforms.com", target: "_blank", class: "project__live-link project__live-link--ubg" %>
        <%= link_to "Github", "https://github.com/marksmerritt/ubg-forms", target: "_blank", class: "project__live-link project__live-link--ubg" %>
      </div>
      <div class="project__features">
        <button class="project__features-link project__features-link--ubg modalable-link modalable-link--2" id= "ubg-modal-link">
          Description
        </button>
      </div>
    </div>

    <!-------------------- PatriotSwap -------------------->

    <div class="card card--project patriotswap__card">
      <div class="project__header">
        <%= image_tag "projects/ps-logo.png", class: "project__logo" %>
        <h3 class="project__title patriotswap__title">PatriotSwap</h3>
      </div>
      <div class="project__links">
        <%= link_to "Live Site", "https://www.patriotswap.com?whos_there=from%20my%20portfolio", target: "_blank", class: "project__live-link project__live-link--ps" %>
        <%= link_to "Github", "https://github.com/marksmerritt/patriot-swap", target: "_blank", class: "project__live-link project__live-link--ps" %>
      </div>
      <div class="project__features">
        <button class="project__features-link project__features-link--ps modalable-link modalable-link--3" id= "ps-modal-link">
          Description
        </button>
      </div>
    </div>

    <!-------------------- Rails Template -------------------->

    <div class="card card--project mor__card">
      <div class="project__header">
        <%= image_tag "projects/mor.png", class: "project__logo" %>
        <h3 class="project__title mor__title">Rails Template</h3>
      </div>
      <div class="project__links">
        <%= link_to "Github", "https://github.com/marksmerritt/rails-template", target: "_blank", class: "project__live-link project__live-link--mor" %>
      </div>
      <div class="project__features">
        <button class="project__features-link project__features-link--mor modalable-link modalable-link--4" id= "mor-modal-link">
          Description
        </button>
      </div>
    </div>
  </div>

  <!-------------------- See More on GitHub -------------------->
  

  <div class="projects__more-on-github">
    <%= link_to "https://github.com/marksmerritt", target: "_blank" do %>
      <%= image_tag "social/gh-logo.png", class: "project__logo" %>
    <% end %>
    <h3 class="project__title gh__title">
      <%= link_to "See More On Github", "https://github.com/marksmerritt", class: "gh__link", target: "_blank" %>
    </h3>
  </div>

</section>