<section id="skills" class="skills">
  <div class="skills__card-deck">


    <div class="skills__card">
      <div class="skills__card__heading-box">
        <h3 class="skills__card__heading">Backend</h3>
      </div>
      <ul class="skills__list">
        <li class="skill">
          <%= image_tag("rails.png", alt: "Ruby on Rails logo", class: "skill-img") %>
          <p>Ruby on Rails</p>
        </li>
        <li class="skill">
          <%= image_tag("pg.png", alt: "Postgres logo", class: "skill-img") %>
          <p>SQL</p>
        </li>
        <li class="skill">
          <%= image_tag("s3.png", alt: "AWS logo", class: "skill-img") %>
          <p>AWS</p>
        </li>
        <li class="skill">
          <%= image_tag("heroku.png", alt: "Heroku logo", class: "skill-img") %>
          <p>Heroku</p>
        </li>
      </ul>
    </div>


    <div class="skills__card">
      <div class="skills__card__heading-box">
        <h3 class="skills__card__heading">Frontend</h3>
      </div>
      <ul class="skills__list">
        <li class="skill">
          <%= image_tag("react.png", alt: "React logo", class: "skill-img") %>
          React
        </li>
        <li class="skill">
          <%= image_tag("html.png", alt: "HTML logo", class: "skill-img") %>
          HTML5
        </li>
        <li class="skill">
          <%= image_tag("css.png", alt: "CSS logo", class: "skill-img") %>
          CSS3/SASS
        </li>
        <li class="skill">
          <%= image_tag("js.png", alt: "JavaScript logo", class: "skill-img") %>
          ES6+
        </li>
      </ul>
    </div>


    <div class="skills__card">
      <div class="skills__card__heading-box">
        <h3 class="skills__card__heading">Testing</h3>
      </div>
      <ul class="skills__list">
        <li class="skill">
          <%= image_tag("testing.png", alt: "Rspec logo", class: "skill-img") %>
          RSpec/Capybara
        </li>
        <li class="skill">
          <%= image_tag("jest.png", alt: "Jest logo", class: "skill-img") %>
          Jest
        </li>
      </ul>
    </div>
  </div>
</section>