
<div class="container">
  
  <!-- ---------------------- Navigation ---------------------- -->

  <%= render "shared/nav" %>
  
  <!-- ---------------------- Header ---------------------- -->

  <%= render "welcome/partials/header" %>

  <!-- ---------------------- Intro Section ---------------------- -->

  <%= render "welcome/partials/intro" %>
  
  <!-- ---------------------- Skills Section ---------------------- -->

  <%= render "welcome/partials/skills" %>

  <!-- ---------------------- Projects Section ---------------------- -->

  <%= render "welcome/partials/projects" %>

  <!-- ---------------------- Education Section ---------------------- -->

  <%= render "welcome/partials/education" %>
  
  <%= render "welcome/partials/modal" %>
</div>



































